<!-- <div class="filterComponent">
    <span>Filter:</span>

    <input type="radio" name="filter" value="All" class="buttons">
    <span>{{ 'All Courses('+all+')' }}</span>
  
    <input type="radio" name="filter" value="Free" class="buttons">
    <span>{{'Free Courses( '+free+')' }}</span>

    <input type="radio" name="filter" value="Premium" class="buttons">
    <span>{{ 'Premium Courses('+premium+')'}}</span>

    <input type="radio" name="filter" value="Subscribed" class="buttons">
    <span>{{ 'Subscribed Courses('+subscribed+')' }}</span>

</div>

 -->
